body {
  background-color: #260539;
  background-image: url(../../public/funds/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}

/*Reloj analógico colocar url en estilo propio*/
.analogoContainer {
  background-image: url(../../public/funds/analogico.jpg);
}

/*Reloj Digital colocar url en estilo propio*/
.digitalContainer {
  background-image: url(../../public/funds/digital.jpg);
}
